* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    background-color: #f1f5f8;
}

.main {
    width: 90vw;
    max-width: 1310px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width:768px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
    }
}

.book {
    background: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: 100%;
}

.book img {
    width: 100%;
}

.book h1 {
    margin-top: .5rem;
    font-size: 1.3rem;
}

.book h4 {
    color: #617d98;
    font-size: .75rem;
    margin-top: .25rem;
}